<div>
    <header>
        <button (click)="toggle()">{{(paused) ? 'Start': 'Stop'}}</button>
    </header>
    <section>
        <div style="overflow: auto;">
            @for (t of recognizedText; track $index) {
            <span [title]="t.date"><small><code>{{t.date | date : "short"}}</code></small><code>{{t.text | json}}</code></span>
            }
        </div>
    </section>
</div>
<details class="logs">
    <summary>LOGS</summary>
    <div style="overflow: auto;">
        @for (log of recLogs; track $index) {
        <div [class]="log.type">
            <code>{{log.title}}</code>
            @if(log.data){<code>{{log.data | json}}</code>}
        </div>
        }
    </div>
</details>
<router-outlet></router-outlet>